name: Pull Request

on:
  pull_request:
    branches:
      - main

jobs:
  changed-files:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    outputs:
      github-actions: ${{ steps.changed-files.outputs.github-actions_any_changed }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Detect changed files
        id: changed-files
        uses: tj-actions/changed-files@8cba46e29c11878d930bca7870bb54394d3e8b21 # v47.0.2
        with:
          files_yaml: |
            github-actions:
              - .github/**

  check-github-actions:
    needs: changed-files
    if: needs.changed-files.outputs.github-actions == 'true'
    uses: ./.github/workflows/reusable-check-github-actions.yaml
    permissions:
      contents: read

  status:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: always()
    needs:
      - check-github-actions
    permissions: {}
    steps:
      - name: Check job results
        env:
          HAS_FAILURE: ${{ contains(needs.*.result, 'failure') }}
          HAS_CANCELLED: ${{ contains(needs.*.result, 'cancelled') }}
        run: |
          if [[ "$HAS_FAILURE" == "true" || "$HAS_CANCELLED" == "true" ]]; then
            echo "::error::Some jobs failed or were cancelled"
            exit 1
          fi
